@font-face {
    font-family: 'Zabars';
    src: url('../fonts/zabars/Zabars.ttf');
}

* {
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Zabars';
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    min-height: 100vh;
    height: fit-content;
    margin: 0;
    gap: 20px;
    background-image: linear-gradient(rgba(0,0,0,0.1)), url('../img/5_background/second_half_background.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 8px;
}

h1 {
    font-size: 80px;
    letter-spacing: 5px;
    margin: 0;
    text-align: center;
    color: #ffc300;
    text-shadow: 5px -1px 0 #9a3a17;
    margin: 30px 0;         
}

h2 {
    color: #ff9900;
    letter-spacing: 2px;
    text-shadow: 3px -1px 0 #9a3a17;
    text-align: center;
    margin: 15px 0 0 0;
    font-size: 28px;
}

a {
    color: #9a3a17;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    font-size: 24px;
}

a:hover {
    text-decoration: underline;
}

a img {
    width: 30px;
}

p {
    color: #9a3a17;
    font-size: 24px;
}

b {
    color: #9a3a17;
    margin: 0;
    letter-spacing: 1px;
    font-size: 24px;
}

.button {
   font-family: 'Zabars';
   border-radius: 8px;
   border: 3px solid #9a3a17;
   color: #9a3a17;
   padding: 8px;
   font-size: 34px;
   transition: all 0.2s ease;
   background: linear-gradient(to bottom, #ff9900, #ffdd00, #ff9900);
   display: flex;
   align-items: center;
}

.button:hover {
    cursor: pointer;
    transform: scale(1.05);
    text-decoration: none;
}

.button:active {
    transform: scale(0.95);
}

.back-to-game-btn {
    position: absolute;
    top: 45px;
    left: 32px;
}

@media (max-width: 950px) {
    .back-to-game-btn {
        position: static;
        margin-top: 24px;
    }
}